<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Laypact</title>

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
	<!-- End fonts -->

	<!-- core:css -->
	<link rel="stylesheet" href="../../../assets/vendors/core/core.css">
	<!-- endinject -->

	<!-- Plugin css for this page -->
	<link rel="stylesheet" href="../../../assets/vendors/easymde/easymde.min.css">
	<!-- End plugin css for this page -->

	<!-- inject:css -->
	<link rel="stylesheet" href="../../../assets/fonts/feather-font/css/iconfont.css">
	<link rel="stylesheet" href="../../../assets/vendors/flag-icon-css/css/flag-icon.min.css">
	<!-- endinject -->

	<!-- Layout styles -->
	<link rel="stylesheet" href="../../../assets/css/demo1/style.css">
	<!-- End layout styles -->

	<link rel="shortcut icon" href="../../../assets/images/favicon.png" />
</head>

<body>
	<div class="main-wrapper">

		<!-- partial:../../partials/_sidebar.html -->
		<nav class="sidebar">
			<div class="sidebar-header">
				<a href="#" class="sidebar-brand">
					Laypact<span>ADMIN</span>
				</a>
				<div class="sidebar-toggler not-active">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="sidebar-body">
				<ul class="nav">
					<li class="nav-item nav-category">List</li>
					<li class="nav-item">
						<a href="../../dashboard.html" class="nav-link">
							<i class="link-icon" data-feather="box"></i>
							<span class="link-title">Project</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- partial -->

		<div class="page-wrapper">

			<!-- partial:../../partials/_navbar.html -->
			<nav class="navbar">
				<a href="#" class="sidebar-toggler">
					<i data-feather="menu"></i>
				</a>
				<div class="navbar-content">
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
								data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img class="wd-30 ht-30 rounded-circle" src="https://via.placeholder.com/30x30"
									alt="profile">
							</a>
							<div class="dropdown-menu p-0" aria-labelledby="profileDropdown">
								<div class="d-flex flex-column align-items-center border-bottom px-5 py-3">
									<div class="mb-3">
										<img class="wd-80 ht-80 rounded-circle" src="https://via.placeholder.com/80x80"
											alt="">
									</div>
									<div class="text-center">
										<p class="tx-16 fw-bolder">Laypact</p>
										<p class="tx-12 text-muted">laypact@gmail.com</p>
									</div>
								</div>
								<ul class="list-unstyled p-1">
									<li class="dropdown-item py-2">
										<a href="javascript:;" class="text-body ms-0">
											<i class="me-2 icon-md" data-feather="log-out"></i>
											<span>Log Out</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<!-- partial -->

			<div class="page-content">

				<nav class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">상세 </a></li>
					</ol>
				</nav>

				<div class="row">
					<div class="col-md-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">EasyMDE</h4>
								<textarea class="form-control" name="tinymce" id="easyMdeExample" rows="10"></textarea>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Ace Editor</h4>
								<p class="text-muted mb-3">Read the <a href="https://ace.c9.io/" target="_blank">
										Official Ace Editor Documentation </a>for a full list of instructions and other
									options.</p>
								<div class="row">
									<div class="col-md-12 grid-margin">
										<h5 class="card-subtitle mb-2">HTML Mode</h5>
										<textarea id="ace_html" class="ace-editor w-100">

											<div class="card">
												<div class="card-body">
													<h5 class="card-title">Special title treatment</h5>
													<p class="card-text">With supporting text below as a natural lead-in
														to additional content.</p>
													<a href="#" class="btn btn-primary">Go somewhere</a>
												</div>
											</div>

											<div class="card text-center">
												<div class="card-body">
													<h5 class="card-title">Special title treatment</h5>
													<p class="card-text">With supporting text below as a natural lead-in
														to additional content.</p>
													<a href="#" class="btn btn-primary">Go somewhere</a>
												</div>
											</div>

											<div class="card text-end">
												<div class="card-body">
													<h5 class="card-title">Special title treatment</h5>
													<p class="card-text">With supporting text below as a natural lead-in
														to additional content.</p>
													<a href="#" class="btn btn-primary">Go somewhere</a>
												</div>
											</div>

										</textarea>
									</div>
									<div class="col-md-12 grid-margin">
										<h5 class="card-subtitle mb-2">SCSS Mode</h5>
										<textarea id="ace_scss" class="ace-editor w-100">

											.card {
											position: relative;
											display: flex;
											flex-direction: column;
											min-width: 0; // See
											https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
											word-wrap: break-word;
											background-color: $card-bg;
											background-clip: border-box;
											border: $card-border-width solid $card-border-color;
											@include border-radius($card-border-radius);

											> hr {
											margin-right: 0;
											margin-left: 0;
											}

											> .list-group:first-child {
											.list-group-item:first-child {
											@include border-top-radius($card-border-radius);
											}
											}

											> .list-group:last-child {
											.list-group-item:last-child {
											@include border-bottom-radius($card-border-radius);
											}
											}
											}

											.card-body {
											flex: 1 1 auto;
											padding: $card-spacer-x;
											color: $card-color;
											}

											.card-title {
											margin-bottom: $card-spacer-y;
											}

											.card-subtitle {
											margin-top: -$card-spacer-y / 2;
											margin-bottom: 0;
											}

											.card-text:last-child {
											margin-bottom: 0;
											}

											.card-link {
											@include hover {
											text-decoration: none;
											}

											+ .card-link {
											margin-left: $card-spacer-x;
											}
											}

										</textarea>
									</div>
									<div class="col-md-12">
										<h5 class="card-subtitle mb-2">Javascript Mode</h5>
										<textarea id="ace_javaScript" class="ace-editor w-100">

											class Alert {
											constructor(element) {
											this._element = element
											}

											// Getters

											static get VERSION() {
											return VERSION
											}

											// Public

											close(element) {
											let rootElement = this._element
											if (element) {
											rootElement = this._getRootElement(element)
											}

											const customEvent = this._triggerCloseEvent(rootElement)

											if (customEvent.isDefaultPrevented()) {
											return
											}

											this._removeElement(rootElement)
											}

											dispose() {
											$.removeData(this._element, DATA_KEY)
											this._element = null
											}

											// Private

											_getRootElement(element) {
											const selector = Util.getSelectorFromElement(element)
											let parent = false

											if (selector) {
											parent = document.querySelector(selector)
											}

											if (!parent) {
											parent = $(element).closest(`.${ClassName.ALERT}`)[0]
											}

											return parent
											}

											_triggerCloseEvent(element) {
											const closeEvent = $.Event(Event.CLOSE)

											$(element).trigger(closeEvent)
											return closeEvent
											}

											_removeElement(element) {
											$(element).removeClass(ClassName.SHOW)

											if (!$(element).hasClass(ClassName.FADE)) {
											this._destroyElement(element)
											return
											}

											const transitionDuration = Util.getTransitionDurationFromElement(element)

											$(element)
											.one(Util.TRANSITION_END, (event) => this._destroyElement(element, event))
											.emulateTransitionEnd(transitionDuration)
											}

											_destroyElement(element) {
											$(element)
											.detach()
											.trigger(Event.CLOSED)
											.remove()
											}

											// Static

											static _jQueryInterface(config) {
											return this.each(function () {
											const $element = $(this)
											let data = $element.data(DATA_KEY)

											if (!data) {
											data = new Alert(this)
											$element.data(DATA_KEY, data)
											}

											if (config === 'close') {
											data[config](this)
											}
											})
											}

											static _handleDismiss(alertInstance) {
											return function (event) {
											if (event) {
											event.preventDefault()
											}

											alertInstance.close(this)
											}
											}
											}

										</textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- partial:../../partials/_footer.html -->
			<footer
				class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
				<p class="text-muted mb-1 mb-md-0">Copyright © 2022 <a href="https://www.nobleui.com"
						target="_blank">NobleUI</a>.</p>
				<p class="text-muted">Handcrafted With <i class="mb-1 text-primary ms-1 icon-sm"
						data-feather="heart"></i></p>
			</footer>
			<!-- partial -->

		</div>
	</div>

	<!-- core:js -->
	<script src="../../../assets/vendors/core/core.js"></script>
	<!-- endinject -->

	<!-- Plugin js for this page -->
	<script src="../../../assets/vendors/tinymce/tinymce.min.js"></script>
	<script src="../../../assets/vendors/easymde/easymde.min.js"></script>
	<script src="../../../assets/vendors/ace-builds/src-min/ace.js"></script>
	<script src="../../../assets/vendors/ace-builds/src-min/theme-chaos.js"></script>
	<!-- End plugin js for this page -->

	<!-- inject:js -->
	<script src="../../../assets/vendors/feather-icons/feather.min.js"></script>
	<script src="../../../assets/js/template.js"></script>
	<!-- endinject -->

	<!-- Custom js for this page -->
	<script src="../../../assets/js/tinymce.js"></script>
	<script src="../../../assets/js/easymde.js"></script>
	<script src="../../../assets/js/ace.js"></script>
	<!-- End custom js for this page -->

</body>

</html>