<!DOCTYPE html>
<html lang="ko" class="white" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>LAYPACT</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no" />

  <link rel="icon" type="image/x-icon" href="../web/favicon.ico">

  <!-- css -->
  <link rel="stylesheet" href="../web/css/common.css">

  <!-- web font -->
  <link rel="stylesheet" href="https://use.typekit.net/zbb0fgy.css">

</head>
<body>

  <div id="smooth-wrapper">
    <div id="smooth-content">
      <div class="content-wrap project-detail">
        <section class="content project-detail-top">
          <div class="inner">
            <div class="year">
              <p>[[${detail.year}]]</p>
              <span>© [[${detail.company}]]</span>
            </div>
            <div class="back">
              <a href="javascript:history.back();" class="btn vertical" data-hover data-hover-msg="Go Back">
                <i class="ico ico-arrow-top-left"></i>
                <p class="x-sm line"><span class="txt">Go Back</span></p>
              </a>
            </div>
            <div class="title-wrap">
              <span>[[${detail.company}]]</span>
              <p><span>[[${detail.shortDesc}]]</span> [[${detail.subject}]]</p>
            </div>
            <div class="thumbnail-wrap" style="height: 1080px;overflow:hidden;">
              <div class="thumbnail" th:style="'background-image:url(/admin/images?file='+${detail.image}+')'"></div>
            </div>
            <div class="desc">
              <div class="col-wrap">
                <div class="col col5 col-l10">
                  <p class="desc-kr" th:utext="${detail.contentsKr}"></p>
                  <p class="desc-en" th:utext="${detail.contentsEn}"></p>
                  <p class="desc-tag">[[${detail.keyword}]]</p>
                </div>
                <div class="col col5 col-l10 text-r">
                  <a th:href="@{${detail.link}}" target="_blank" class="btn vertical right" data-hover data-hover-msg="Go to<br/>Site">
                    <i class="ico ico-arrow-top-right"></i>
                    <p class="x-sm line"><span class="txt">Visit website</span></p>
                  </a>
                  <p class="category">Planning</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="content project-detail-content">
          <div class="inner" th:if="${not #strings.isEmpty(detail.contentsCode)}" th:utext="${detail.contentsCode}">
            
          </di>
        </section>
        <section class="content project-detail-bottom">
          <div class="inner">
            <a href="/web/project" class="btn vertical right" data-hover data-hover-msg="Go to<br/>Project">
              <i class="ico ico-arrow-top-left"></i>
              <p class="x-sm line"><span class="txt">All project</span></p>
            </a>
            <div class="wide-right-wrap">
              <div class="wide-right">
                <div class="thk">
                  <p>THANKS FOR <br/>WATCHING</p>
                </div>
                <div class="credit">
                  <div class="col-wrap" th:if="${not #strings.isEmpty(detail.creditCode)}" th:utext="${detail.creditCode}">
                  
                  </div>
                </div>
              </div>
            </div>
            <div class="text-r">
              <a href="https://www.naver.com/" class="btn vertical right" data-hover data-hover-img="../web/img/temp/project-img01.jpg" data-hover-msg="Go to<br/>Next Project">
                <p class="x-sm line"><span class="txt">Next project</span></p>
                <i class="ico ico-arrow-bottom-right"></i>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- <div class="credit-wrap">
    <div class="wide-right-wrap">
      <div class="wide-right">
        <div class="credit">
          <p class="tit">CREDIT.</p>
          <ul class="credit-list">
            <li><a href="">Eugene Mendoza,</a></li>
            <li><a href="">Terry Mendoza,</a></li>
            <li><a href="">George Green,</a></li>
            <li><a href="">Justin Patel,</a></li>
            <li><a href="">Jeremy McDonald,</a></li>
            <li><a href="">Eugene Marshall</a></li>
          </ul>
        </div>
        <div class="credit thk">
          <p class="tit">SPECIAL THANK YOU.</p>
          <ul class="credit-list">
            <li>
              <a href="">Danielle Matthews</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

  <div class="cursor-wrap">
    <div class="cursor" id="cursor"><div class="img"></div><span></span></div>
  </div>

  <script type="text/javascript" src="../web/js/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
  <script type="text/javascript" src="../web/js/ScrollSmoother.min.js"></script>
  <script type="text/javascript" src="../web/js/common.js"></script>
  <script type="text/javascript" src="../web/js/project.js"></script>

</body>
</html>
